@import "tailwindcss";

@theme {
  --gradient-main:  linear-gradient(to bottom, #146cc4, #000814);
}

.main-color {
  background: var(--gradient-main);
}

th, td {
  border: 2px solid black;
}
 .statement-table td {
  border: 2px solid #e9e9e9;
  background: white;
}
.statement-table th{
  border: 2px solid #e9e9e9;
}
